<user-data-single-slot [fieldNumber]="1" [fieldLabel]="'First Name: '">
    <div class="single-slot">
        <input type="text" name="single-standard-firstName" id="single-standard-firstName">
    </div>
</user-data-single-slot>

<user-data-single-slot [fieldNumber]="2" [fieldLabel]="'Last Name: '">
    <div class="single-slot">
        <input type="text" name="single-standard-lastName" id="single-standard-lastName">
    </div>
</user-data-single-slot>

<user-data-single-slot [fieldNumber]="3" [fieldLabel]="'Year of Birth: '">
    <div class="single-slot">
        <input type="text" name="single-standard-yearOfBirth" id="single-standard-yearOfBirth">
    </div>
</user-data-single-slot>
